<app-dashboard></app-dashboard>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                My Dashboard
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/create-project"> Create Project</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/create-note">Create Notes</a>
            </li>
            <li class="breadcrumb-item active">
                <a routerLink="/add-user">Add user to the project</a>
            </li>
        </ol>
        <div class="card add-user">
            <div class="card-header text-center">
                <h3>Project Management</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-around">
                    <div class="col-6 text-center">
                        <button class="btn btn-primary" type="button">Show all project</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-primary" type="button">Show all user</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>