<app-dashboard></app-dashboard>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                My Dashboard
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/create-project"> Create Project</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/create-note">Create Notes</a>
            </li>
            <li class="breadcrumb-item active">
                <a routerLink="/add-user">Add user to the project</a>
            </li>
            <li class="breadcrumb-item active">

                <a routerLink="/get-all-project">All Project</a>
            </li>
            <li class="breadcrumb-item active">
             <a routerLink="/view-all-notes">View all notes</a>
            </li>
            <li class="breadcrumb-item active">
                <a routerLink="/view-all-users">View all users</a>
            </li>
        </ol>
        <div class="card add-user">
            <div class="card-header text-center">
                <h3>Project Management</h3>
            </div>
            <div class="card-body">
                <!-- <div class="row justify-content-around">
                    <p>Tổng số dự án: {{NumberOfProject}}</p>
                </div>
                <div class="row justify-content-around">
                    <p>Tổng số dự án đang hoạt động: {{NumberOfRunningProject}}</p>
                </div>
                <div class="row justify-content-around">
                    <p>Tổng số dự án thành công: {{NumberOfSuccessProject}}</p>
                </div>
                <div class="row justify-content-around">
                    <p>Tổng số dự án thất bại: {{NumberOfFailedProject}}</p>
                </div> -->
               <div class = "container">
                    <div>
                        <div class="row ">
                            <div class="col text-center">
                                <i class ="fas fa-users fa-5x"></i>
                                <br>
                                <h2>{{NumberOfUser}}</h2>
                                <small>Members</small>
                            </div>
                            <div class="col text-center">
                                <i class="fas fa-trophy fa-5x"></i>
                                <br>
                                <h2>{{NumberOfProject}}</h2>
                                <small>Projects</small>
                            </div>
                            <div class="col text-center">
                                <i class ="far fa-clock fa-5x"></i>
                                <br>
                                <h2>{{NumberOfHours}}</h2>
                                <small>Working Hours</small> 
                            </div>
                        
                        </div>
                    </div>
               </div>     
            </div>
            <div class="card-body">

            </div>
        </div>
        <div class="card add-user"></div>
    </div>
</div>