<app-dashboard></app-dashboard>
<div class="content-wrapper">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/my-dashboard">My Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/create-project"> Create Project</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/create-note">Create Notes</a>
      </li>
      <li class="breadcrumb-item active">
        <a routerLink="/add-user">Add user to the project</a>
      </li>
      <li class="breadcrumb-item active">
        <a routerLink="/view-all-notes">View all notes</a>
      </li>
      <li class="breadcrumb-item active">
        View all users
      </li>
    </ol>
    <div class="card add-user">
      <div class="card-header text-center">
        <h3>View all users</h3>
      </div>
      <div class="card-body">
        <div class="row justify-content-around">
          <table class="table table-bordered table-hover table-responsive-sm table-sm table-project">
            <thead class="text-center">
            <tr>
              <td>#</td>
              <td scope="col">ID User</td>
              <td scope="col">Username</td>
              <td scope="col">Role</td>
              <td scope="col">Job</td>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" *ngFor="let item of listUsers | paginate: {
                                                      itemsPerPage: numberItemsPage,
                                                      currentPage: p,
                                                      totalItems: counts }">
              <td></td>
              <td scope="row">{{item[1].id}}</td>
              <td>{{item[1].username}}</td>
              <td>{{item[1].role}}</td>
              <td>{{item[1].job}}</td>
            </tr>
            </tbody>
          </table>
          <pagination-controls
              (pageChange)="pageChanged(p = $event)"
              autoHide="false">
          </pagination-controls>

        </div>
      </div>
    </div>
  </div>
</div>