<app-dashboard></app-dashboard>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/my-dashboard">My Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/create-project">Create Project</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/create-note">Create Notes</a>
            </li>
            <li class="breadcrumb-item active">
                Add user to the project
            </li>
        </ol>
        <div class="card add-user">
            <div class="card-header text-center">
                <h3>Add user to the project</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">

                        <div class="form-control-sm">
                            <label for="select-project">Select the project name:</label>
                            <select class="custom-select">

                            </select>
                        </div>
                        <div class="form-control-sm">
                            <label for="name-user">Choose user: </label>
                            <input 
                                class="form-control" id="name-user" 
                                placeholder="Choose name user"
                                data-toggle="modal" data-target="#modal-user"
                            >
                            <!-- Modal -->
                            <div class="modal fade" id="modal-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-bordered table-hover table-sm">
                                                <thead>
                                                    <tr>
                                                        <td scope="col">#</td>
                                                        <td scope="col">Name User</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor = "let el of listProjects">
                                                        <td id="{{el.project_id}}"></td>
                                                        <td>{{el.project_name}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Selected</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-control-sm">
                            <label for="role">Roles</label>
                            <input class="form-control" id="role" placeholder="Enter role">
                        </div>


                    </div>
                </form>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-6 text-right">
                            <a class="btn btn-secondary" routerLink="/my-dashboard">Cancel</a>
                        </div>
                        <div class="col-6 text-left">
                            <button class="btn btn-primary" type="button">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>