#form-login{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
}
.card-header{
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px #393A3B;
}
.form-login{
    margin: auto;
    width: 50%;
}
a{
    text-decoration: none;
}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 768px){
    .form-login{
        width: 70%;
    }
}
/* Smart Phone */
@media screen and (max-width: 480px){
    .form-login{
        width: 100%;
    }
}

