<app-dashboard></app-dashboard>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/my-dashboard">My Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/create-project">Create Project</a>
            </li>
            <li class="breadcrumb-item active">
                Create Notes
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/add-user">Add user to the project</a>
            </li>
            <li class="breadcrumb-item">

                <a routerLink="/get-all-project">All Project</a>

                <a routerLink="/view-all-notes">View all notes</a>

            </li>
            <li class="breadcrumb-item active">
                <a routerLink="/view-all-users">View all users</a>
            </li>
        </ol>
        <div class="card create-note">
            <div class="card-header text-center">
                <h3>Create New Notes</h3>
            </div>
            <div class="card-body">
                <form #formCreateNote="ngForm" (ngSubmit)="onSubmit(formCreateNote);">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6 form-control-sm">
                                <label for="select-project">Select the project name:</label>
                                <select class="custom-select" id="select-project" [(ngModel)]="selectProject" name="project_id">
                                    <option *ngFor="let item of listProjects" [value]="item[1].project_id">
                                        {{item[1].projectName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 form-control-sm">
                                <label for="select-job">Select job type:</label>
                                <select class="custom-select" id="select-job" [(ngModel)]="selectJob" name="type">
                                    <option *ngFor="let item of listJobs" [value]="item">
                                        {{item}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-control-sm">
                                <label for="role">Roles</label>
                                <select class="custom-select" id="role" [(ngModel)]="selectRole" name="role">
                                    <option *ngFor="let item of listRoles" [value]="item">
                                        {{item}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 form-control-sm">
                                <label for="time-hour">Hours</label>
                                <input class="form-control" id="time-hour" type="number" placeholder="Enter hour" name="hours" #txtTimeHour="ngModel" ngModel
                                    required>
                                <p *ngIf="txtTimeHour.touched && txtTimeHour.errors?.required" class="text-danger">
                                    Hours is required.
                                </p>
                                <p *ngIf="txtTimeHour.value > 12 || txtTimeHour.value < 0" class="text-danger">
                                    Hours must be greater than 0 and less than 12
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input class="form-control" id="date" type="date" name="date" min="2018-05-01" max="2020-12-30" #txtDate="ngModel" ngModel
                            required>
                        <p *ngIf="txtDate.touched && txtDate.errors?.required" class="text-danger">
                            Date is required.
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" #txtDescription="ngModel" ngModel required>
                        </textarea>
                        <p *ngIf="txtDescription.touched && txtDescription.errors?.required" class="text-danger">
                            Description is required.
                        </p>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-6 text-right">
                                <a class="btn btn-secondary" routerLink="/my-dashboard">Cancel</a>
                            </div>
                            <div class="col-6 text-left">
                                <button class="btn btn-primary" type="submit" [disabled]="formCreateNote.invalid">Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
