<div id="form-register" class="bg-dark">
    <div class="container form-register">
        <div class="card card-register mx-auto">
            <div class="card-header text-primary">
                Register an Account
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="first-Name">First name</label>
                                <input class="form-control" id="first-Name" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
                            </div>
                            <div class="col-md-6">
                                <label for="last-Name">Last name</label>
                                <input class="form-control" id="last-Name" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address-Email">Email address</label>
                        <input class="form-control" id="address-Email" type="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-6">
                                <label for="confirm-Password">Confirm password</label>
                                <input class="form-control" id="confirm-Password" type="password" placeholder="Confirm password">
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-block" routerLink="/login">Register</a>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" routerLink="/login"> Cannel </a>
                </div>
            </div>
        </div>
    </div>
</div>