<app-dashboard></app-dashboard>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/my-dashboard">My Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                Create Project
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/create-note">Create Notes</a>
            </li>
            <li class="breadcrumb-item active">
                <a routerLink="/add-user">Add user to the project</a>
            </li>
            <li class="breadcrumb-item active">
                <a routerLink="/get-all-project">All-Project</a>
                <a routerLink="/view-all-notes">View all notes</a>
            </li>
            <li class="breadcrumb-item active">
                <a routerLink="/view-all-users">View all users</a>
            </li>
        </ol>
        <div class="card create-project">
            <div class="card-header text-center">
                <h3>Create New Project</h3>
            </div>
            <div class="card-body">
                <form #formCreateProject="ngForm" (ngSubmit)="onSubmit(formCreateProject);">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6 form-control-sm">
                                <label for="name-project">Name Project</label>
                                <input 
                                    class="form-control" 
                                    id="name-project" 
                                    placeholder="Enter name project"
                                    name="projectName"
                                    #txtNameProject="ngModel"
                                    ngModel
                                    required
                                >
                                <p  *ngIf="txtNameProject.touched && txtNameProject.errors?.required" 
                                    class="text-danger"
                                >
                                    Name Project is required.
                                </p>
                            </div>
                            <div class="col-md-6 form-control-sm">
                                <label for="name-PM">Name PM</label>
                                <select 
                                    class="custom-select" 
                                    id="name-PM"
                                    [(ngModel)]="pmSelected" 
                                    name="pm"
                                >
                                    <option 
                                        *ngFor="let item of listPM"
                                        [value]="item"
                                    >
                                        {{item}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-control-sm">
                                <label for="name-customer">Name Customer</label>
                                <input 
                                    class="form-control" 
                                    id="name-customer" 
                                    placeholder="Name customer"
                                    name="customer"
                                    #txtNameCustomer="ngModel"
                                    ngModel
                                    required
                                >
                                <p  *ngIf="txtNameCustomer.touched && txtNameCustomer.errors?.required" 
                                    class="text-danger"
                                >
                                    Name Customer is required.
                                </p>
                            </div>
                            <div class="col-md-6 form-control-sm">
                                <label for="name-technology">Name Technology</label>
                                <select 
                                class="custom-select" 
                                id="name-technology"
                                [(ngModel)]="selectTechnology" 
                                name="technology"
                                >
                                    <option 
                                        *ngFor="let item of arrTechnology"
                                        [value]="item"
                                    >
                                        {{item}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea 
                            class="form-control" 
                            id="description"
                            name="description"
                            #txtDescription="ngModel"
                            ngModel
                            required
                        >
                        </textarea>
                        <p  *ngIf="txtDescription.touched && txtDescription.errors?.required" 
                            class="text-danger"
                        >
                            Description is required.
                        </p>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-6 text-right">
                                <a class="btn btn-secondary" routerLink="/my-dashboard">Cancel</a>
                            </div>
                            <div class="col-6 text-left">
                                <button 
                                    class="btn btn-primary" type="submit"
                                    [disabled]="formCreateProject.invalid"
                                >Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
